@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: rgb(224, 224, 224);
  }
  
  .a_box{
    height: 480px;
    background: url(https://adventure.lotteworld.com/image/2020/6/202006010125571450_1350.jpg) no-repeat 50% 0;
    background-size:cover;
    position: relative;
   margin: 0 auto;
  }
 
  .a_box >.category{
    position: absolute;
    margin-top: 25px;
    margin-left: 10%;
    font-size: 16px;
    color: white;
  }
  .a_box >.s_title{
    margin-left: 825px;
    position: absolute;
    margin-top: 200px;
    text-align: center;
    color: white;
}
.a_box >.s_title> .a{
  font-size: 50px;
  text-shadow: 5px -3px 5px rgba(12, 11, 11, 0.342);
}
.pb{
  margin-top: 10px;
}
/* 버스 */
.bus{
    justify-content: center;
   
    width: 730px;
    height: 1000px;
    background-color: white;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.bus_box{
    display: flex;
      
}
.map{
    padding: auto;
}