@charset "utf-8";
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
/*諛곌꼍�꽕�젙*/
.background{
    background-image: url(../resources/image/bg_pc_visual.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    justify-content: center;
}
/*contents-total*/
.wrap_body{
    padding-top:50px;
    padding-bottom: 80px;
}

/**/
.content_box{
    align-items: center;
    padding: 80px 45px 15px;
}
.login_wrap{
    width: 800px;
    margin: 0 auto;
    padding: 20px 15px;
    background-color: rgba(255, 255, 255, 0.842);
    border: 2px solid lightblue;
    border-radius: 15px;
}
.box_head{
    text-align: center;
    padding-bottom: 10px;
}
.box_head p{
    font-weight: bold;
    font-size: 20px;
}
/*input*/
.container{
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    border-radius: 15px;
    padding: 15px 30px;
}
.container input, .container select{
    border: none;
    margin-top: 3px;
}
.id_pw_box{
    height: 60%;
    width: 40%;
    margin: 10% 0;
}
.personal_box{
    width: 40%;
}
#input_box{
    margin: 10px 0;
}
.id_pw_box input{
    width: 100%;
    height: 30px;
}
.personal_box input{
    height: 30px;
    width: 100%;
}
.personal_box select{
    height: 30px;
}
.birth input{
    width: 25%
}
.gender select{
    width: 60px;
}
.email input, select{
    width: 45%
}
.phone select{
    width: 15%;
}
.phone input{
    width: 20%;
    margin-left: 5px;
    margin-right: 5px;
}
/*botton*/
.btn_box{
    margin: 30px 0px 40px;
    width: 60%;
    margin-left: 20%;
}
.btn_box > input{
    height: 40px;
    width: 100%;
    font-size: 15px;
    background-color: rgb(106, 148, 226);
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
}
.btn_box input:hover {
    background-color: rgb(106, 196, 226);
  }
/*divine*/
 
.divine{
    background-color: lightgray;
    height: 2px;
    width: 70%;
    margin: 20px 15%;
}
.divine_h{
    background-color: white;
    height: 320px;
    width: 2px;
    margin: 10px 15px;
}