*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

/*head �꽕�젙*/
#navbar{
    background-color: indigo;
    height: 50px;
}
/*諛곌꼍�꽕�젙*/
#reserve_main{
    background-color: wheat;
    min-height: 1000px;
}
.background{
    background-image: url(../resources/image/bg_pc_visual.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    justify-content: center;
}
/*contents-total*/
.wrap_body{
    width: 900px;
    margin-left:auto;
    margin-right:auto;
    padding-top:50px;
    padding-bottom: 80px;
}
.contents_wrap{
    background-color: indigo;
    height: 100%;
    /* border: 10px solid indigo; */
    
}
/*contents-head*/
.contents_head{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    box-shadow: black;
}
.contents_head > h1{
    text-align: center;
    font-size: 40px;
}
/*divine*/
.divine_h{
    height: 5px;
    background-color: lightgray;
}

/*contents-sellect*/
/*1.sellect-head*/
.contents_sellect{
    background-color: lightgray;
}
.sellect_head{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 45px 15px;
}
.title_txt{
    font-size: 20px;
}
.cal_area{
    display: flex;
    font-size:18px;
    color: blue;
}
.cal_btn{
    border:none;
    margin-left: 20px;
}
.cal_icon{
    max-width: 30px;
    max-height: 30px;
    
}
/*2.sellect-date*/
.sellect_date{
    padding-top: 1px;
}
.wrap_date{
    padding: 20px 60px 20px;
    background-color: white;
}
.scr_date{
    display: flex;
    justify-content: space-between;
}
.day_ns > button{
    height: 60px;
    width: 50px; 
    background-color: white;
    color: blue;
    border-radius: 15%;
}
/*3.sellect-people*/
.count_people{
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px 30px;
    background-color: white;
}
.cnt_adult , .cnt_teenager , .cnt_child{
    display: flex;
}
.cnt_txt{
    width: 50%;
}
.txt_a{
    font-size: 15px;
}
.txt_des{
    font-size: 10px;
}
.cnt_input{
    width: 50%;
    padding-left: 10px;
}
.nbr_input{
    height: 40px;
    max-width: 80%;
}
/*3.contents_eventinfo*/
.contents_eventinfo{
    background-color: lightgray;
}
.event_head{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 45px 15px;
}
/*3-1 sellect tap*/
.cat_sellect{
    padding: 0 60px 0;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.cont_block{
    height: 100%;
    width: 50%;
    
    color:lightgray;
}
.cont_block.selected{
    background-color: #2b72c9;
}
.cont_block:hover{
	cursor: pointer;
}

.cat_sellect li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 0 10px;
}
.tab_box:visited{
    color: white;
}
/* �꺆 �쟾泥� */

.event_cont{
    background-color: white;
    display:none;
}
.event_cont.selected{ 
    display:block;
}
/*3-2 tap - event list*/
.event_list{
    padding: 30px 60px 0;
}
.cont_list{
    padding-bottom: 30px;
}
.event_list li{
    width: 100%;
}
.list_title{
    background-color: lightgray;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid rgb(163, 163, 163);
}
.list_under{
    display: flex;
    padding-top: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(163, 163, 163);
}
.list_des{
    width: 75%;
    height: 200px;
    display: flex;
    float: left;
    border-right: 1px solid rgb(163, 163, 163);
}
.event_img{
    float: left;
    width: 25%;
    text-align: center;
}
.event_img img{
    max-width: 100%;
    max-height: 100%;
}
.online_event{
    height: 190px;
    border: 1px solid rgb(163, 163, 163);
    box-sizing: border-box;
}
.event_des{
    width: 75%;
    padding: 0 15px;
}

.list_sellect{
    width: 25%;
    align-items: center;
    justify-content: center;
    
}
.sellect_btn{
    margin: 45% 25%;
}
.sellect_btn > button{
    height: 40px;
    width: 100px;
    font-size: 15px;
    
    
    background-color: gray;
    color: white;
}


/*�삁留ㅻ쾭�듉*/
.reserve{
    background-color: white;
    padding: 15px 0 30px;
    display: flex;
    justify-content: center;
}
.reserve > button{
    height: 40px;
    width: 120px;
    font-size: 15px;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
}
.reserve > a{
    padding: 10px 40px;
    font-size: 15px;
    background-color: rgb(155, 89, 182);
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
}
.reserve a:hover {
    background-color: rgba(246, 180, 255, 0.8);
    color: black;
  }



/*temp footer*/
#footer{
    background-color: gray;
    height: 150px;
}