@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.all{
	font-family: "Noto Sans KR", sans-serif !important;
}

  .a_box{
    height: 480px;
    background: url(https://adventure.lotteworld.com/common/images/icon/attraction_bg1.jpg) no-repeat 50% 0;
    background-size:cover;
    position: relative;
   	margin: 0 auto;
  }
 
  .a_box >.category{
    position: absolute;
    margin-top: 25px;
    margin-left: 10%;
    font-size: 16px;
    color: white;
  }
  .a_box >.s_title{
	width: 100%;
    position: absolute;
    margin-top: 200px;
    text-align: center;
    color: white;
}
.a_box >.s_title> .a{
  font-size: 50px;
  text-shadow: 5px -3px 5px rgba(12, 11, 11, 0.342);
}
.pb{
  margin-top: 10px;
}
/* search */
.search_box{
  background-color:slateblue;
  color: white;
  border: none;
  border-radius: 10px;
  position: relative;  max-width: 500px; margin: auto; top: -35px;
}
.inp{
  text-align: center;
  padding: 10px;
}
.p_search, .age_search, .tall_search{
  text-align: center;
  border: none;
  width: 150px;
  height: 20px;
  margin-top: 25px;
}
.s_btn{
  margin: 20px;
  text-align: center;
  background-color:white;
  border: none;
  border-radius: 35px;
  width: 65px;
  height: 20px;
}

.s_btn:hover{
	cursor: pointer;
}
/* attraction list*/
.card_box{
  width: 1300px;
  margin:auto;
  margin-top:15px;
  margin-bottom:25px;
}
/* attraction list - update buttons */
.btns{
	text-align: right;
}
.btns > a{
  width: 120px;
  height: 30px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 10px;
  display:inline-block;
  color:black;
  text-decoration: none;
  text-align: center;
  background-color: white;
  border: 1px solid slateblue;
  margin-left: 10px;
  transition: all 0.2s ease 0s;
}
.btns > a:hover{
  color: white;
  background-color: slateblue;
}
/* attraction list - cards */
.card_box> .card_innerbox{
   width: 320px;
   height: 370px;
   display: inline-block;
   padding: 10px;
}
.card_box> .card_innerbox> .card1{
   width: 300px;
   height: 350px;
   background-color: rgb(255, 255, 255);
   border: 1px solid #e1e1e1;
   position: absolute;
   transition: 0.4s;
}
a { 
  text-decoration:none;
  color: inherit;
}
.tag{
  position: absolute;
  padding: 0 10px;
  height: 36px;
  line-height: 34px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.5);
}
.con{
  padding: 15px 25px 30px;
  font-size: 22px;
}
.card_box> .card_innerbox> .card1:hover{
  transform: scale(1.02);
  border:none;
  box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.8);
  background-color: rgb(101, 39, 160);
  color: white;
  cursor: pointer;
} 