@charset "UTF-8";

body {
  font-family: "Noto Sans KR", sans-serif !important;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .a_box{
    height: 480px;
    background: url(https://adventure.lotteworld.com/common/images/icon/attraction_bg1.jpg) no-repeat 50% 0;
    background-size:cover;
    position: relative;
    margin: 0 auto;
  }
 
 .category{
    position: absolute;
    margin-top: 25px;
    margin-left: 10%;
    font-size: 16px;
    color: white;
  }
  .center_box{
    width: 100%;
    position:absolute;
    text-align: center;
    margin-top: 200px;
  }
  .s_title{
    text-align: center;
    color: white;
    padding: 30px 0;
}
.s_title> .a{
  font-size: 50px;
  text-shadow: 5px -3px 5px rgba(12, 11, 11, 0.342);
}
/* 검색 창 */
.search_box{
    width: 500px;
    display: flex;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
 
}
.inp{
    width: 400px;
    height: 30px;
    border: 3px solid slateblue;
    background-color: white;
    text-align: left;
    padding: 10px 10px 45px 20px;
}
.inp .s_category, .inp .s_text{
    height:30px;
}
.inp .s_category{
    width: 80px;
    margin: 0;
}
.inp .s_text{
    width: 280px;
    margin:0;
}
.search_btn{
    width: 100px;
    height: 100%;
    border: none;
    background-color: slateblue;
    text-decoration: none;
    color:white;
    padding: 22px 0;
}
/* board table */
.board_box{
    width: 1200px;
    margin: 100px auto 100px;
    text-align: right;
}
.board_head > p{
	margin-bottom: 10px;
}
.b_add{
  width: 80px;
  height: 30px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 10px;
  display:inline-block;
  color:black;
  text-decoration: none;
  text-align: center;
  background-color: white;
  border: 1px solid slateblue;
  margin-bottom: 15px;
  transition: all 0.2s ease 0s;

}
.b_add:hover{
  color: white;
  background-color: slateblue;
}

.board_box table{
    width:100%;
    table-layout: fixed;
    text-align: center;
}
table{
  border-collapse: collapse;
}
.tbl_header{
    background-color: slateblue;
    color:white
}
th{
    padding: 20px 15px;
    font-size: 15px;
    font-weight: 500;
}
td{
    text-align: center;
    padding: 15px;
    font-size: 13px;
    font-weight: 300;
    border-bottom: 1px solid slateblue;
}
td a{
    text-decoration: none;
    color:black;
}
td a:hover{
    text-decoration: underline;
}
td a:visited{
    text-decoration: none;
    color:black;
}
/* paging */
.paging{
    font: size 16px;
    color: white;
    text-align: center;
    padding-top: 30px;
}
.paging a{
    border: 1px solid gray;
    background-color: white;
    display: inline-block;
    width: 48px;
    height: 48px;
    color: black;
    text-align: center;
    line-height: 46px;
    vertical-align: top;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 5px;
    transition: all 0.2s ease 0s;
}
.paging a:hover{
    border: 1px solid slateblue;
    background-color: slateblue;
    color: white;
}


/*
a { 
  text-decoration:none;
  color: inherit;
}

.con{
  padding: 27px 25px 30px;
  font-size: 22px;
}
*/
/* .card1:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0, 0.6);
  transform: translateY(5px);
  box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
} */

/* .card1{
  color: rgb(12, 11, 11) ;
  font-weight: bold ;
  text-align: left ;
  float: right;
  margin: 15px 15px 0 0;
  font-weight: bold;
  padding: 10px 10px;
  line-height: 20px;
  margin: 25px;
  width: 250px;
  height: 250px;
  background-color: rgb(194, 249, 255);
} */

#btn{
  width: 150px;
  height: 100px;
  background-color: rgb(89, 182, 109);
  border-radius: 50px;
}