@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.all{
	 background-color: rgb(224, 224, 224);
}
   .a_box{
    height: 480px;
    background: url(https://adventure.lotteworld.com/image/2020/6/202006010125571450_1350.jpg) no-repeat 50% 0;
    background-size:cover;
    position: relative;
 
  }
 
  .a_box >.category{
  	 margin:auto; 
 	position:absolute;
 	top:25px;
    margin-left: 10%;
    font-size: 16px;
    color: white;
  }
  .a_box >.s_title{
  	width: 1300px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);  
    text-align: center;
    color: white;
}
.a_box >.s_title> .a{
	font-size: 50px;
	text-shadow: 5px -3px 5px rgba(12, 11, 11, 0.342);
}
.pb{
	margin-top: 10px;
}
/*  */
.at_box{
	width: 1300px;
	display: flex;
	justify-content: space-between;
	margin: 100px auto;

}
.ride, .ride_info{
  width: 300px;
  height: 350px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.care{
  text-align: center;
  width: 500px;
  height: 343px; 
  background-color: rgb(255, 255, 255);
}
.fas{
  color: rgba(141, 53, 153, 0.8);
  font-size: 40px ;
}
.rp{
  margin-top: 25px;
  font-size: 15px;
  
}
.pe{
  margin-top: 50px;
  font-size: 35px;
}



.ti{
  text-align: center;
  font-size: 25px;
}
.ti_1{
padding-top: 15px;
}
.ti2{
 margin-top: 15px;
 text-align: left;
}
.ti3{
  padding-top: 35px;
}