@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
	box-sizing: border-box;
	margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
  }

/* time */
  .far{
    color: rebeccapurple;
    font-size: 25px;
  }
  a{
    text-decoration: none;
  }
  .time{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 20px;
}
.tp{
  padding-left: 50px;
  font-size: 21px;
}
.t{
  padding-left: 15px;
  font-size: 21px;
}

/* information */
#information {
  padding: 15px 0;
  background-color: #f4f3f0;
  text-align: center;
}

/* big title */
.titles {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgb(0, 0, 0);
	font-size: 25px;
	margin: 50px;   
}
.titles::before,
.titles::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}
/* information */
#information > .info_inner {
  display: flex;
  justify-content: center;
}
/* information - theme buttons of attraction */
#information .place{
  padding: 35px 20px 30px;
  box-sizing: border-box;
  width: 325px;
  height: 500px;
  background-color: #fff;
  margin: 0 35px;
  border-top: 15px solid rgb(155, 89, 182);
}
.info_title{
  font-size: 25px;
}
  .theme_box{
    display: flex;
    padding: 10px 0;   
  }
  .theme_box .theme{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #tema_btn  ,#tema_btn2{
    list-style: none;
    width: 100px;
    height: 50px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 20px;
    margin: 30px 20px;
    border: none;
  }

#tema_btn{
    background-color: rgba(156, 89, 182, 0.589);
    color: white;
  }
#tema_btn2{
    background-color: rgba(160, 160, 160, 0.589);
    color: white;
  }

/* information - time and track to us */
#information .check_box  {
  box-sizing: border-box;
  width: 325px;
  height: 300px;
  border: solid #e6e6e6;
  border-width: 0 1px 2px;
  background-color: #fff;
  margin: 0px 35px;
}
.place a{
	color: inherit;
	text-decoration:none;
}
.check_box > .text_content{
	padding: 30px 15px;
}
.clock, .ampm{
  font-size: 35px;
}
 .bus {
  box-sizing: border-box;
  width: 325px;
  height: 190px;
  border: solid #e6e6e6;
  border-width: 0 1px 2px;
  background-color: #fff;
  margin: 13px 35px;
}

.fa-bus{
  font-size: 55px;
  float: left;
  padding: 5px 25px;
  color: rgba(156, 89, 182, 0.589);
}
.bus:hover{
	background-color:  rgb(127, 63, 153);
	color: white;
}
.bus_station{
  font-size: 25px;
  float: left;
  color: inherit;
  text-align: center;
  padding: 5px 25px;
  margin-top: 10px;
}

.m_title{
  height: 129px;
  color: white;
  background-color: rgb(127, 63, 153);
  padding: 55px 20px 30px;
}
.check_text{
  margin: auto;
}
.text_content{
  padding: 15px;
}

/* play cards */

.play{
  background: url(https://adventure.lotteworld.com/common/images/icon/mainCon3_bg.jpg);
  padding: 15px; 
}
.play ul li a{
  text-decoration: none;
  color: white;
}
.tag{
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 55px;
}

#play_btn{
  width: 100px;
  height: 35px;
  border-radius: 20px;
  margin: 0px 20px;
  border: none;
  background-color: rgba(156, 89, 182, 0.589);
  color: white;
}


/* play cards */

.card_box{
	width: 1000px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}
.card{
  border: none;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.6);
  transition: 0.4s;
  width: 300px;
  background-color: white;
  text-align: center;
  font-size: 16px;
  float: left;
  margin: 10px;
}
.card:hover{
  transform: translateY(5px);
  box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
  background-color: rgb(101, 39, 160);
  color: white;
}
.card > img{
	max-width: 500px;
}
.box{
  height: 100px;
  padding: 2px 16px;
}
.box b{
  font-size: 25px;
  float: left;
  margin: 15px 5px;
}
/* play btn */

#play_btn2{
  width: 200px;
  height: 56px;
  text-decoration:none;
  margin: 50px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  border: none;
  text-align: center;
  border-radius: 28px;
  background-color: rgba(156, 89, 182, 0.589);
 
}
 






