*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}


/* background */
#reserve_main{
    background-color: wheat;
    min-height: 1000px;
}
.background{
    background-image: url(/SaltProject/resources/image/bg_pc_visual.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    justify-content: center;
}
/*contents-total*/
.wrap_body{
    width: 900px;
    margin-left:auto;
    margin-right:auto;
    padding-top:50px;
    padding-bottom: 80px;
}
.contents_wrap{
    height: 100%;
    color : black;  
}
/*contents-head*/
.contents_head{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    box-shadow: black;
}
.contents_head > h1{
    text-align: center;
    font-size: 40px;
}
.contents_head > h4{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
/*divine*/
.divine_h{
    height: 5px;
    background-color: lightgray;
}

/*contents-sellect*/
/*1.sellect-head*/
.contents_sellect{
    background-color: lightgray;
}
.sellect_head{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 45px 15px;
}
.title_txt{
    font-size: 20px;
}

/*2.sellect-date*/
.sellect_date{
    padding-top: 1px;
}
.wrap_date{
    padding: 20px 50px 20px;
    background-color: white;
}
.reserve_date{
    display: flex;
}
.cnt_date{
    display: flex;
}

.nbrY_input, .nbrM_input, .nbrD_input{
    height: 40px;
}
.nbrY_input{
    width: 120px;
}
.nbrM_input, .nbrD_input{
    width: 60px;
}

.cntD_txt{
    width: 30%;
    font-size: 15px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 30px;
}
.cntD_txt > p{
    height: 100%;
}


/*3.sellect-people*/
.count_people{
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px 30px;
    background-color: white;
}
.cnt_adult , .cnt_teenager , .cnt_child{
    display: flex;
}
.cnt_txt{
    max-width: 180px;
}
.txt_a{
    font-size: 15px;
}
.txt_des{
    font-size: 10px;
}
.cnt_input{
    width: 50%;
    padding-left: 20px;
    display:  flex;
}
.nbr_input{
    height: 40px;
    width: 60px;
}

.cnt_input > p{
    height: 100%;
    font-size: 15px;
    line-height: 40px;
    padding-left: 10px;
}

/*4.total charge*/
.chargeBlock{
    margin-top: 1px;
    display: flex;
    padding: 25px 50px 30px;
    background-color: white;
	font-size: 16px;
}
.charge_des{
	padding-right: 10px;
}
.charge_nb{
	color:blue;
}
/* reserve button*/
.reserve{
    background-color: white;
    padding: 15px 0 30px;
    display: flex;
    justify-content: center;
}
.reserve > input{
    height: 40px;
    width: 120px;
    font-size: 15px;
    background-color: rgb(155, 89, 182);
    border : none;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease 0s;
}

.reserve input:hover {
    background-color: rgba(246, 180, 255, 0.8);
    color: black;
  }
